extends layout.pug

block content
  h2 Books
  p
    a(class='button' href='google.com') Create New Book
  table(style='width:100%', border='1')
    tr
      th Title
      th Author
      th Genre
      th Year

    tb each book in books
      tr
        td
          a(href='google.com') book.title
        td book.author
        td book.genre
        td book.year
