body {
  margin: 0 auto;
  padding: 10px 20px;
  font: 18px "Garamond", sans-serif;
  color: #1F1305; /*chocolate brown*/
  background-color: #f0f3f4; /*light steel blue*/
  width: 95%;
}

header {
  padding: 10px 50px 50px;
  border: 1px solid darkgrey;
  text-shadow: white 1px 0 1px;
  background-image: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .5)),
    url('../img/books.jpg');
}

a {
  color: #CAB968; /*golden*/
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: black;
  }

a.button,
input[type=submit],
button {
  color: white;
  background: #CAB968; /*golden*/
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

button {
  background: #1F1305; /*chocolate brown*/
}

button:hover {
  background: #CAB968; /*golden*/
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #1F1305; /*chocolate brown*/
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

table {
  margin: 0 auto;
  background-color: white;
  margin-bottom: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  margin-right: 8px;
  text-transform: uppercase;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 2px;
  border-color: #E7E7E7; /*light gray*/
  transition: 0.4s;
}

input[type=text],
input[type=search]{
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}

.confirm {
  color: green;
}

.paginationDiv,
.paginationUL {
  display: inline-flex;
}

.paginationUL li {
  margin-left: 5px;
}

.paginationUL li a {
  color: white;
  background-color: #CAB968; /*golden*/
  width: 40px;
  height: 20px;
  padding: 2px 10px;
}

.paginationUL li a:hover,
.paginationUL li a:active,
.active {
  color: white;
  background-color: #1F1305; /*chocolate brown*/
}
